#topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: left;
  z-index: 1000;
  box-shadow: 0 4px 2px -2px gray;
}
.topNavLink {
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #a2d9ce; 
  transition: background-color 0.3s ease;
}
body {
  background: url("https://img.freepik.com/free-photo/composition-small-airplanes-bus-passport-map_23-2148169874.jpg");
  padding-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

h1 {
  text-shadow: 0 0 3px #48c9b0;
  text-align: center;
}

#btnSubmit {
  background-color: #a2d9ce;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#btnSubmit:hover {
  background-color: #fdedec;
}

#resultContainer {
  display: none; /*hidden before submit*/
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  transition: opacity 0.5s ease;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}
